# Talks I have given - Taivo Pungas

This is a list of all public speaking gigs I've done, ordered most recent to oldest.

As you can see I regularly take on new gigs in various format, in Estonia and abroad. If you'd like to invite me to speak, shoot me an email at [taivo@pungas.ee](mailto:taivo@pungas.ee).

{{ table }}
